name: pages-actions
run-name: Deploy pages
on: [push]
defaults:
  run:
    working-directory: .
jobs:
    build:
        runs-on: ubuntu-latest
        #if: false
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                node-version: '20'
            - name: Install dependencies
              run: npm ci
            - name: Build
              # runs vite build - generated files live in './dist' which is ignored by git
              run: npm run build
            - name: Copy Data
              run: |
                ls -l
            - name: Upload production-ready build files
              # zips the files in the provided path
              uses: actions/upload-artifact@v4
              with:
                name: dist-files
                path: ./dist
            #- name: List
            #  run: ls -R ./dist

    deploy:
        needs: build
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        #if: false
        permissions:
            contents: write
            pages: write
        steps:
          - name: Download artifact
            uses: actions/download-artifact@v4
            with:
              name: dist-files
              path: ./dist
          #- name: List
          #  run: ls -R ./dist
          - name: Deploy to GitHub Pages
            # will CREATE the gh-pages branch if it does not exist!
            uses: peaceiris/actions-gh-pages@v4
            with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                publish_branch: gh-pages
                publish_dir: ./dist
